/* Form Common CSS */
.phone_ic{
    background: url(../images/icon/Icon_call.png) no-repeat right center;
    background-size: 28px;
}
.email_ic{
    background: url(../images/icon/Icon_mail.svg) no-repeat right center;
    background-size: 28px;

}
.user_ic{
    background: url(../images/icon/Icon_user.svg) no-repeat right center;
    background-size: 28px;

}
.password_ic{
    background: url(../images/icon/Icon_closed.svg) no-repeat right center;
    background-size: 28px;

}
.helper-text{
    color: #f22415;
    margin-left: 20px;
}

.formInput{
    padding:20px;
    border-radius: 12px;
    border: 2px solid #7780A1;
}

input::placeholder{
    font-size: 16px;
}

.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}


/*  Sign in button */
.formButton {
    width: 100%;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    background-color: #4745D0;
    font-family: 'Sora', sans-serif;
    padding: 16px;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}
/* Sign in button hover */
.formButton:hover {
    width: 100%;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    background-color: #322fe0;
    font-family: 'Sora', sans-serif;
    padding: 16px;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;

}

/* Button  Area */
.button-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}