.header-container{
  box-shadow: 1px 2px #d4d4d4;
  width: 100%;
}

.header-container-inner{
  max-width: 90vw !important;
}

.left {
  flex: 1;
}

.mid {
  flex: 2;
  width: auto;

  text-align: center;
}

.right {
  flex: 1;
  width: auto;
}

.right-stack {
  float: right;
}

.header-font {
  font-family: 'Raleway', sans-serif !important;
  color: #7780A1 !important;
}

.header-logo-font {
  font-size:25px;
  font-family: 'Raleway', sans-serif !important;
}

.header-btn{
  font-family: 'Raleway', sans-serif !important;
}

@media screen and (max-width: 1000px) {
  .mid{
    display: none;
  }
}