.most-popular-section{
  width: 1600px;
  height: 855px;
  margin: 0 auto;
  margin-top: 180px;
  position: relative;
  text-align: center;
  font-family: 'Raleway', sans-serif !important;
}

.most-popular-title{
  padding-top: 20px;
  
  font-size: 36px;
}

.event-containter{
  display: flex;
  margin-top: 140px;

}

.event-containter > * {
  margin-right: 40px;
  cursor: pointer;

}



.event-card-img {
  height: 380px;
  width: 268gpx;
  /* background-color: aqua; */
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.event-image{
  width: 100%;
  height: 100%;
}

.event-card-title {
  font-size: 13px;
  width: 100vw;
  height: 42px;
  text-align: left;
  padding: 15px 5px 0px 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.event-card-people-num {
  position: absolute;
  width: 50px;
  height: 30px;
  margin-left: 75%;
  line-height: 32px;
  margin-right: 26px;
  margin-top: 66px;
  border-radius: 10px;
  background: rgba(42, 39, 201, 0.1);
  cursor: pointer;
}

.event-card-date {
  display: flex;
  padding-left: 5px;
  margin: 24px 0 24px 0;
  font-family: 'Inter';
  font-style: normal;
  cursor: pointer;
  font-size: 12px;
}

.event-card-date> :first-child {
  margin-right: 8px;
}

.event-card-participants {
  margin-left: 12px;
  width: 279px;
  height: 50px;
  display: flex;
}

.avatars-group-text {
  width: 155px;
  height: 42px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
}

.event-card-likes {
  display: flex;
  width: 55px;
  height: 36px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.avatars-group-text-1{
  width: 255px;
  height: 42px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 10px;
}

.avatars-group-text-2{

}