.filter-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  font-family: 'Sora';
}

.filter-left-bar {
  flex: 1;
  padding-left: 50px;
  padding-top: 50px;
}

.filter-title {
  width: 113px;
  height: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.filter-content {
  flex: 5;
}

.filter-list {
  line-height: 100px;
  margin-left: 30px;
}

.filter-category {
  font-weight: 700;
  font-size: 25px;
  margin-left: -20px;
  margin-bottom: -20px;
}

.search-input {
  width: 600px;
  margin: 0 auto;
  margin-top: 25px;
}

.event-card {
  margin: 0 auto;
  width: 964px;
  height: 260px;
  margin-top: 40px;
  display: flex;
  cursor: pointer;
}

.event-card-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.no-participant-warning{
  margin-left: 15px;
}

.no-post-warning{
  margin: 0 auto;
  text-align: center;
  line-height: 600px;
  color: gray;
}

.event-card-img {
  flex: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.event-image {
  width: 100%;
  height: 100%;
}

.event-card-title {
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
}

.event-card-time {
  color: red;
  margin-top: 10px;
  padding-left: 15px;
  cursor: pointer;
}

.filter-items {
  cursor: pointer;
}

.filter-items:hover,
.filter-items:focus,
.filter-items:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.event-card-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  margin-top: 10px;
  padding-left: 15px;
  cursor: pointer;
}

.event-card-participants {
  display: flex;
  padding-left: 10px;
  cursor: pointer;
}

.avatars-group-text {
  margin-top: 10px;
  margin-left: 3px;
  width: 200px;
  color: #7780A1;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

.pagination {
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
}

.circularProgress{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  line-height: 500px;
}