.user-page {
  height: 100vh;
  width: 100vw;
  font-family: 'Sora';
  font-style: normal;
}

.user-info-section {
  width: 409px;
  height: 116px;
  padding-top: 40px;
  padding-left: 270px;
}

.user-post-event {
  width: 100vw;

}

.user-post-event-title {
  width: 175px;
  height: 40px;
  font-weight: 600;
  font-size: 22px;
  padding-left: 270px;
  margin-bottom: 50px;
}